<!-- Titre de la section -->
<div class="container section-title">
    <h2>Contact</h2>
    <p>Nous répondons à vos besoins avec professionnalisme, même dans les situations les plus complexes.</p>
</div><!-- Fin du titre de section -->


<div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-4 g-lg-5">
        <div class="col-lg-5">
            <div class="info-box" data-aos="fade-up" data-aos-delay="200">
                <h3>Informations de contact</h3>
                <p>Vous pouvez me joindre facilement pour toute opportunité ou collaboration.</p>

                <div class="info-item" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                    <div class="content">
                        <h4>Notre adresse</h4>
                        <p>Conakry, GUINEE</p>
                    </div>
                </div>

                <div class="info-item" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon-box">
                        <i class="bi bi-telephone"></i>
                    </div>
                    <div class="content">
                        <h4>Numéro de téléphone</h4>
                        <p>+224 625 19 24 18</p>
                        <p>+224 626 91 22 40</p>
                    </div>
                </div>

                <div class="info-item" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <div class="content">
                        <h4>Email Address</h4>
                        <p>maximekpoghomou18&#64;gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
                <h3>Contactez-moi</h3>
                <p>Merci de remplir le formulaire ci-dessous, je vous répondrai dans les plus brefs délais.</p>

                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Votre nom" required>
                        </div>

                        <div class="col-md-6">
                            <input type="email" name="email" class="form-control" placeholder="Votre email" required>
                        </div>

                        <div class="col-12">
                            <input type="text" name="subject" class="form-control" placeholder="Sujet" required>
                        </div>

                        <div class="col-12">
                            <textarea name="message" rows="6" class="form-control" placeholder="Votre message"
                                required></textarea>
                        </div>

                        <div class="col-12 text-center">
                            <div class="loading">Envoi en cours...</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Votre message a bien été envoyé. Merci !</div>

                            <button type="submit" class="btn">Envoyer</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>

    </div>

</div>