.btn-projets-toggle {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background-color: #0d6efd;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.btn-projets-toggle:hover {
  background-color: #084298;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
