.btn-projets-toggle {
  display: inline-block;   /* ajuste la largeur au contenu */
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* Pas de largeur fixée ici */
}

@media (min-width: 992px) {
  .btn-projets-toggle {
    border: 2px solid blue;
    background-color: transparent;
    color: blue;
  }
  .btn-projets-toggle:hover {
    background-color: blue;
    color: white;
    transform: translateY(-3px);
  }
}

@media (max-width: 991px) {
  .btn-projets-toggle {
    background-color: blue;
    color: white;
    border: none;
  }
}

.hidden {
  display: none !important;
}


.hidden-by-limit {
  display: none !important;
}
